@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #00BCBB;
}

html {
    /* font-size: 65%; */
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: #161a20;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

#navbar a {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: 0.3s;
}

#navbar a.active {
    color: #00FFFE;
}

/* .resume {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 2rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
} */

.resume {
    display: inline-block;
    padding: 1rem 2.8rem;
    border-radius: 4rem;
    font-size: 1.5rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    border: 3px solid var(--main-color);
}

#navbar .tab:hover,
.link:hover {
    color: var(--main-color);
}

/* .resume:hover {
    box-shadow: none;
} */

.resume:hover {
    box-shadow: none;
    background: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-5%);
}

.home-content h3 {
    font-size: 3rem;
    font-weight: 700;
}

.home-content h1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 2rem;
}

.social-media {
    background: #fff;
    box-shadow: rgba(0, 0, 255, 0.2) 0 7px 29px 0;
    padding: .5rem;
    display: flex;
    border-radius: 25px;
    box-shadow: 0 0 1.5rem var(--main-color);
    transition: 0.5s;
    justify-content: right;
    position: absolute;
    top: 35%;
    left: 0; 
    width:200px;
    transform: translate(-140px, 0px);
}

.social-media h3 {
    color: black;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-align: center;
    font-size: 2rem;
}

.links {
    display: flex;
    flex-direction: column;
}

.social-media:hover {
    transform: translate(-50px, 0%);
}

.link {
    color: black;
    font-size: 5rem;
    width: 5rem;
    transition: 0.3s;
}

.about {
    background: var(--second-bg-color);
}

.about h1 {
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 2%;
}

.about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10rem;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    border: 3px solid blue;
    width: 70%;
}

.skill {
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.6rem;
    background: rgba(153,153,153,.2);
    border-radius: 40px;
    font-weight: 600;
    transition: 0.3s;
}

.skill:hover {
    background: var(--main-color);
}

.skills-title {
    font-size: 2rem;
    margin-bottom: 2%;
}

.description {
    border: 3px solid blue;
}

::-webkit-scrollbar {
    width: 20px;
}
   
::-webkit-scrollbar-thumb {
    background: rgb(61, 74, 97); 
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: rgb(48, 67, 100); 
}